#phaser-game canvas {
    position: absolute;
    z-index: -1; /* Ensure the canvas is behind other content */
  }

#treealert {
  width: 10%;
  left: var(--window-width)*-1;
}

:root {
  --window-width: 100vw; /* Fallback value for the CSS variable */
}