.alert {
    position: fixed;
    top: 20px;
    width: 300px;
    left: 500px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 8px;
    border-radius: 5px;
    font-family: "joystix monospace";
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
  }
  