/* TaskList.css */
.scroll-container {
  position: absolute;
  width: 25vw;
  height: 30vw;
  padding: 0.878vw;
  background-color: rgb(220, 206, 206);
  border-radius: 0.293vw;
  border: 1.5px solid black;
  box-shadow: inset 0px 0px 0.586vw rgba(0, 0, 0, 0.8);
  z-index: 1000;
  top: 5vw;
  right: 3vw;
  font-family: 'joystix monospace';
  overflow-y: auto; /* Ensure scrolling is enabled */
}

/* Customize the scrollbar */
.scroll-container::-webkit-scrollbar {
  width: 10px;  /* Adjust the width of the scrollbar */
}

/* Customize the scrollbar track */
.scroll-container::-webkit-scrollbar-track {
  background: #ce9494;  /* Light gray track */
  border-radius: 10px;
  border: 1.5px solid black;
}

/* Customize the scrollbar thumb (the draggable part) */
.scroll-container::-webkit-scrollbar-thumb {
  background: #803e3e;  /* Darker gray thumb */
  border-radius: 10px;
  border: 1.5px solid black;
  
}

/* Customize the scrollbar thumb when hovered */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #5f2e2e;  /* Darker thumb when hovered */
}
