/* TaskList.css */
.scroll-container {
  position: absolute;
  width: 30vw;
  height: 30vw;
  padding: 0.878vw;
  background-color: rgb(220, 206, 206);
  border: 0.11vw solid black;
  border-radius: 0.293vw;
  box-shadow: inset 0px 0px 0.586vw rgba(0, 0, 0, 0.4);
  z-index: 1000;
  top: 5vw;
  right: 3vw;
  font-family: 'joystix monospace';
  overflow-y: auto; /* Ensure scrolling is enabled */
}

/* Customize the scrollbar */
.scroll-container::-webkit-scrollbar {
  width: 10px;  /* Adjust the width of the scrollbar */
}

/* Customize the scrollbar track */
.scroll-container::-webkit-scrollbar-track {
  background: #9e7171;  /* Light gray track */
  border-radius: 10px;
}

/* Customize the scrollbar thumb (the draggable part) */
.scroll-container::-webkit-scrollbar-thumb {
  background: #2d0d0d;  /* Darker gray thumb */
  border-radius: 10px;
}

/* Customize the scrollbar thumb when hovered */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #420d0d;  /* Darker thumb when hovered */
}
